#presentation

  & > div
    max-width: 780px

    h1
      text-align: left
      font-size: 2.2em
      margin-bottom: 1em
    p
      font-size: 1.1em
      font-weight: 400
      color: $color-font-light

      @media (min-width: $bkpt-medium)
        font-size: 1.2em
