@mixin content-tile
  padding: $content-padding * 2/3 $body-padding

  @media (min-width: $bkpt-medium)
    padding: $content-padding


@mixin not-a-list
  list-style-type: none
  margin: 0
  padding: 0


@mixin relativeFontSize($goalFontSize, $finalWidth)
    font-size: $goalFontSize / $finalWidth * 100vw
